.homeWrapper {
    display: flex;
    justify-content: center;
    padding: 20px 30px;
}

.cardListTitle {
  padding: 10px 10px 20px;
  color: #ef0000;
  font-size: xx-large;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.cardListItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap
}

.cardListWrapper {

}
