.wrapper {
  display: block;
  position: relative;
  width: calc(100vw - 100px);
}

.title {
  padding: 10px 10px 20px;
  color: #ef0000;
  font-size: xx-large;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.navigationArrow {
  color: #ef0000;
  cursor: pointer;
  top: 50%;
  font-size: 32px;
  position: absolute;
  z-index: 1;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.dots {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  padding: 0;
  border-radius: 40px;
  width: auto;
  text-align: center;
  background: rgba(188, 185, 185, 0);
}

.dots li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}

.dots li button {
  border: none;
  background: #bcb9b9;
  color: transparent;
  cursor: pointer;
  display: block;
  padding: 0;
  height: 8px;
  width: 8px;
  border-radius: 8px;
}

.dots li button:hover,
.dots li button:focus {
  background: rgb(255, 255, 255);
  outline: 0;
}

.activeButton {
  background: rgb(255, 0, 0) !important;
  padding: 0;
}
