.trailerBtnWrapper {
  margin: 0;
  padding: 8px;
}

.trailerBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.youtubeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  align-self: center;
  padding-right: 8px;
}

.buttonText {
  font-size: 16px;
}
